# --- macOS ---
.DS_Store

# --- Xcode ---
xcuserdata/
*.hmap

# --- App packaging ---
*.ipa
*.dSYM.zip
*.dSYM

# --- Playgrounds ---
timeline.xctimeline
playground.xcworkspace

# --- Swift Package Manager ---
.build/

# --- Carthage ---
Carthage/Build/

# --- Fastlane ---
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# --- Editor / Secrets ---
.env
.vscode/
